.contact-header {
    padding: 80px 0 50px 0;
    text-align: center;
  }

  .contact-header h2 {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
  }

  .contact-header p {
    color: #9F9F9F;
    font-size: 16px;
    max-width: 650px; /* Paragraph ko center mein rakhne ke liye width limit */
    margin: 0 auto;   /* Center alignment */
    line-height: 1.6;
  }
  .contact-details-section {
    padding: 60px 0 100px 0;
  }

  /* Left Side: Icons & Info */
  .info-item {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
  }

  .info-item img {
    width: 25px;
    height: 25px;
  }

  .info-content h5 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .info-content p {
    color: #000;
    font-size: 16px;
    margin: 0;
    max-width: 200px;
  }

  /* Right Side: Form */
  .contact-form label {
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
  }

  .contact-form .form-control {
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
  }

  .submit-btn {
    background-color: #B88E2F;
    color: white;
    border: none;
    padding: 12px 60px;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.3s;
  }

  .submit-btn:hover {
    background-color: #96732a;
    color: white;
  }
  .features-section {
    background-color: #F9F1E7; /* Light beige background */
    padding: 100px 0;
    margin-top: 50px;
  }

  .feature-item {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .feature-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  .feature-content h4 {
    font-size: 25px;
    font-weight: 600;
    color: #242424;
    margin-bottom: 2px;
  }

  .feature-content p {
    font-size: 18px;
    font-weight: 500;
    color: #898989;
    margin: 0;
  }
  /* Responsive styling for mobile */
  @media (max-width: 992px) {
    .feature-item {
      margin-bottom: 30px;
      justify-content: center;
    }
  }